
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}

.mySlide {
  position: fixed;
  padding-top: 64px;
  background-color: whitesmoke;
  height: 100vh;
  font-size: 1rem;
  background: white;
  color: white;
  overflow: auto;
  border-right: 1px solid #f0f2f5;
}

.myHeader {
  z-index: 2;
  position: fixed;
  width: 100vw;
  background: white;
  text-align: center; 
  padding: 0;
  opacity: 0.8;
  box-shadow: 10px 5px 5px #f0f2f5;
}

.myContent {
  padding-top: 70px;
  background: white;
  min-height: calc(100vh - 51px)
}

.myDetail {
  padding: 45px 50px;
  background: white;
}

.myDetail h1{
  font-size: 30px;
}

.myDetail p{
  font-size: 15px;
  font-weight: 600;
  line-height: 60px;
}

.myDetail h2{
  font-size: 20px;
}

.myRepo{
  padding: 20px 0;
  font-size: 16px;
  line-height: 32px;
}

.myIcon{
  padding: 12px 0;
  font-size: 36px;
  margin: auto;
}

.myFooter {
  text-align: center;
  padding: 15px 0;
}

.myLogo {
  z-index: 3;
  float: left;
  width: 120px;
  height: 32px;
  margin: 16px 24px;
  background: gray;
  opacity: .5;
}

.mySearch {
  float: left;
  margin: 16px 24px;
  width: 200px;
  margin-left: 60px;
}
